<div class="container-fluid" style="align-items: center">
  <div class="row" style="height: 100%">
    <textarea class=" form-control-lg disabled" readonly>webpack: Compiling...
      Date: 2018-03-25T19:40:00.264Z - Hash: 1ec5004ded291e44f853 - Time: 258ms
      4 unchanged chunks
      chunk {main} main.bundle.js (main) 31.3 kB [initial] [rendered]
      
      webpack: Compiled successfully.
      webpack: Compiling...
      Date: 2018-03-25T19:40:06.298Z - Hash: f92464332ccffdb00029 - Time: 145ms
      4 unchanged chunks
      chunk {main} main.bundle.js (main) 31.4 kB [initial] [rendered]
      
      webpack: Compiled successfully.

      {{response}}
    </textarea>
  </div>
</div>