<div class="container-fluid">
    <div class="row" style="height: 100%">
        <textarea class="form-control-lg" style="resize: none;">
            using System.Windows;
            using System.Windows.Controls;
            using System.Windows.Input;
            using System.Windows.Shapes;
            using GalaSoft.MvvmLight.Command;
            using System.Windows.Media;
            
            namespace FormGenerator.Converters
            {
                class MousePositionConverter : IEventArgsConverter
                {
                    public object Convert(object value, object parameter)
                    {
                        var args = (MouseEventArgs)value;
                        var element = (FrameworkElement)parameter;
                        var point = args.GetPosition(element);
            
                        var grid = element.Parent as Grid;
                        var rectPosition = element.TranslatePoint(point, grid);
            
                        var xLocation = (point.X / element.ActualWidth);
                        var yLocation = (point.Y / element.ActualHeight);
            
                        return new double[] { xLocation, yLocation, rectPosition.X, rectPosition.Y };
                    }
                }
            }
         </textarea>
        </div>
</div>
